<div class="navbar navbar-inner">
  <h5><i class="icon-plus"></i>Change Password</h5>
  <ul class="nav nav-list">
    <%= form_for(@user, :url => update_password_path(:uid => @user.uuid)) do |f| %> 
    <div class="control-group">
      <%= f.password_field :password, :placeholder => "New Password*", :autocomplete => "off" %>
    </div>
    <div class="control-group">
      <%= f.password_field :password, :placeholder => "Confirm Password*", :autocomplete => "off" %>
    </div>
    <div class="control-group">
      <%= f.password_field :password, :placeholder => "Current Password*", :autocomplete => "off" %>
    </div>
      <%= f.submit "Update Password", :class => "btn btn-info", :id => "update_password" %>
    <% end %>
  </ul>
</div>