<div class="span3" id="sidebar">
  <% if @user != nil && @user.id != nil %>
    <%= render "users/registrations/edit" %>
  <% else %>
    <%= render "users/registrations/new" %>
  <% end %>
</div>

<div class="span9" id="content">
  <div class="row-fluid">
    <div id="breadcrumb">
      <ul class="breadcrumb">
        <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
        <li class="active">Customers</li>
      </ul>
    </div>
    <div class="block">
      <div class="navbar navbar-inner block-header">
        <table class="table table-bordered table-hover">
          <caption>Customers</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Auth Code</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.travels_name %></td>
              <td><%= customer.email %></td>
              <td class="text-center green"><%= customer.get_auth_code %></td>
              <td class="text-center">
                  <%if customer.status?  %>
                    <%= icon_text("Active", "icon-thumbs-up") %> |
                    <%= link_to icon_text("Inactivate","icon-thumbs-down"), change_status_path(:id => customer.uuid) %>
                  <% else %>
                    <%= icon_text("Inactive", "icon-thumbs-down") %> |
                    <%= link_to icon_text("Activate", "icon-thumbs-up"), change_status_path(:id => customer.uuid) %>
                  <% end %>
              </td>
              <td class="text-center">
                <%= link_to icon_text("Edit","icon-pencil"), edit_customer_path(:id => customer.uuid) %>
                &nbsp;|&nbsp;<%= link_to icon_text("Agents","icon-user"), agents_path(:id => customer.uuid) %>
                &nbsp;|&nbsp;<%= link_to icon_text("Vehicles","icon-forward"), vehicle_list_path(:id => customer.uuid) %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>