<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
      </a>
      <%= link_to "Voyage Status", root_path, :class => "brand" %>
      
      <div class="nav-collapse">
        <ul class="nav">
          <li <% if @tab == "home" %>class="active"<% end %>><%= link_to icon_text("Home","icon-ok icon-home"), root_path %></li>
          <% if current_user %>
            <li <% if @tab == "dashboard" %>class="active"<% end %>><%= link_to icon_text("Dashboard","icon-ok icon-book"), dashboard_path %></li>
            <% if current_user.user_type == User::ADMIN %>
              <li <% if @tab == "user" %>class="active"<% end %>> <%= link_to icon_text("Customers","icon-ok icon-list"), customers_path %></li>
            <% elsif current_user.user_type == User::CUSTOMER && current_user.user_sub_type == User::ADMIN %>
              <li <% if @tab == "user" %>class="active"<% end %>> <%= link_to icon_text("Agents","icon-ok icon-list"), agents_path(:id => current_user.uuid) %></li>
            <% end %>
            <% if current_user.user_type == User::CUSTOMER %>
              <li <% if @tab == "vehicle" %>class="active"<% end %>> <%= link_to icon_text("Vehicles","icon-ok icon-list").html_safe, vehicle_list_path(:id => current_user.uuid) %></li>
            <% end %>
            <% if current_user.user_type != User::ADMIN %>
              <li class="margin-left-100"><h5 class="green">Authentication Code: <%= current_user.get_auth_code %></h5></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <%if current_user%>
            <li class="dropdown">
              <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> 
                <%= icon_text(current_user.email,"icon-user") %> <i class="caret"></i>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to icon_text(t('edit_profile'),"icon-pencil"), edit_profile_path %></li>
                <li class="divider"></li>
                <li><%= link_to icon_text(t("signout"),"icon-off"), destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
            <%# else %>
             <!--<li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;width: 280px">
               <%= render "users/sessions/login" if !current_user%>
            </div>
          </li>-->
            <%end%>
          </ul>
         
        </div>
    </div>
  </div>
</div>
