<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Voyage Status</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %><br /><br /><br />
  <div class="container-fluid">
    <div class="row-fluid">
      <%= yield %>
    </div>  
    <%= render "shared/footer" %>  
  </div>  


</body>
</html>
